.container{
    &-app{
        width: 80%;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        min-width: 350px;
        overflow: visible;

    }

    &-main{
        flex-grow: 1;
        min-width: 350px;
    }

    &-menu{
        padding: 2rem;
        width: 350px;
        -webkit-box-shadow: -5px 6px 24px 14px rgba(0,0,0,0.75);
        -moz-box-shadow: -5px 6px 24px 14px rgba(0,0,0,0.75);
        box-shadow: -5px 6px 24px 14px rgba(0,0,0,0.75);
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition:    all 0.1s ease-in-out;
        -ms-transition:     all 0.1s ease-in-out;
        -o-transition:      all 0.1s ease-in-out;
        transition:         all 0.1s ease-in-out;

        @include atSmall{
            padding: 3rem;
        }
    }

    &-index{

        &__scroll{
            /* width */
            ::-webkit-scrollbar {
                width: 10px;
            }
            /* Track */
            ::-webkit-scrollbar-track {
                background: rgba(0,0,0,0.5);
                border-radius:4px;
            }
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: rgba(255,255,255,0.9);
                border-radius:4px;
            }
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: rgba(255,255,255,0.5);

            }
        }

        &__questions{
            height: 50vh;
            overflow: auto;
            overflow-x: hidden;
        }

        &__users{
            height: 60vh;
            overflow: auto;
            overflow-x: hidden;
        }

        &__highscores{
            height: 60vh;
            overflow: auto;
            overflow-x: hidden;
        }
    }

    &-game--transparent{
        -webkit-box-shadow: -5px 6px 24px 14px rgba(0,0,0,0.75);
        -moz-box-shadow: -5px 6px 24px 14px rgba(0,0,0,0.75);
        box-shadow: -5px 6px 24px 14px rgba(0,0,0,0.75);
        padding: 40px 80px;
        border-radius: 0 0 40px 40px;
    }

}
