.icon{
    font-size: 40px;
    color: #fff;
    width: 50px;

    &:hover{
        cursor: pointer;
    }

    &--times{
        &:hover{
            color: red;
        }
    }

    &--confirm{
        &:hover{
            color: darkgreen;
        }
    }

    &--back{
        font-size: 65px;
    }

    &--fixed-top-right{
        top: 0;
        right: 5px;
        width: 30px;
        height: 35px;
    }

    &--eye{
        color: #495057;
        font-size: 25px;
    }

}
