.app{
	&-background{
		background: url("/img/background.jpg");
		height: 100vh;
		width: 100vw;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
        overflow-x:hidden;
        min-width: 500px;
	}
}
