@import './back';

.index{
    &-input{
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        border-radius: 20px;
        padding: 10px;
        font-size: 1.25rem;
        &:focus{
            color: #000;
        }
    }

    &-icon{
        font-size: 30px;
        &:hover{
            cursor: pointer;
        }
    }

    &-edit{
        font-size: 25px;
        &:hover{
            color:blueviolet;
        }
    }

    &-delete{
        &:hover{
            color: red;
        }
    }
}
