@import './back';
@import './answer';
@import './input';

.question{
    &-container-outer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
            background: rgba(0,0,0,0.5);
            border-radius:4px;
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgba(255,255,255,0.9);
            border-radius:4px;
        }
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: rgba(255,255,255,0.5);

        }
    }

    &-container-inner{
        height: 50vh;
        overflow: auto;
        overflow-x: hidden;
        position: relative;
    }

    &-wrapper{
        background-color: rgba(0,0,0,0.5);
        border-radius: 20px;
        &-create{
            width: 800px;
            padding: 25px;
        }
    }

    &-field{
        &-difficulty{
            width: 200px;
        }
    }

    &-input{
        color: white;
        background: none;
        border: none;
        &:hover{
            background: #FF9800;
            color: black;
        }
    }

    &-icon{
        font-size: 40px;
        color: #fff;
        width: 50px;
        &-times{
            &:hover{
                color: red;
            }
        }

        &-confirm{
            &:hover{
                color: darkgreen;
            }
        }

        &:hover{
            cursor: pointer;
        }
    }
}
